@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(228, 228, 228);
}
.wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
}
.header{
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.logo{
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -1px;
    color: rgb(33, 33, 33);
    margin-right: 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}
.add-book-btn{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(33, 33, 33);
    color:  rgb(33, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    opacity: 1;
}
.add-book-btn:hover{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid rgb(134, 134, 134);
    color: rgb(134, 134, 134);
    cursor: pointer;
}
.login-btn{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(140, 140, 144); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
}
.login-btn:hover{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(181, 181, 181); 
}
/*---- MAIN CONTENT -----*/
.main{
    background-color: rgb(228, 228, 228);
    height: 100%;
}

/*---- ADD BOOK POPUP -----*/

::placeholder { 
    color: rgb(202, 202, 202);
  }

.form-popup-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .form-popup-close:hover {
    opacity: 1;
  }
  .form-popup-close:before, .form-popup-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .form-popup-close:before {
    transform: rotate(45deg);
  }
  .form-popup-close:after {
    transform: rotate(-45deg);
  }

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: auto;  
    z-index: 9;
}

.form-container {
  padding: 10%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form h1{
    margin-bottom: 20px;
}

.form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
  width: 100%;
  height: 35px;
  margin: 5px 0 35px 0;
  border: none;
  border-bottom: 1px solid rgb(152, 152, 152);
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=number]:focus {
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  font-size: 1em;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 10px;
}

.form-container .btn:hover, .add-book-btn:hover {
  opacity: 1;
}

.form-bot{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  gap: 15px;
}

#read-btn{
  width: 65px;
  height: 25px;
  border: 1px solid rgb(152, 152, 152);
}

#bookShelf{
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 100px 100px 0px 100px;
}

/*---- BOOK COVERS -----*/

.bookCover{
  width: 220px;
  height:300px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr;
  grid-template-columns: 1fr;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

.book-title{
  width:100%;
  height:20px;
  font-weight: 600;
  font-size: 1.3em;
  padding: 5px 0px 15px 0px;
  border-bottom: 1px dotted rgb(214, 214, 214);
}

.book-author{
  width:100%;
  height:20px;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted rgb(214, 214, 214);
}

.book-pages{
  width:100%;
  height:20px;
  font-weight: 300;
  font-size: 1em;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted rgb(214, 214, 214);
}

.book-status{
  width:100%;
  height:20px;
  font-weight: 300;
  font-size: 1em;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px dotted rgb(214, 214, 214);
}

.book-title-tag{
  height:10px;
  font-size: 0.5em;
}

.book-author-tag{
  height:10px;
  font-size: 0.5em;
}

.book-pages-tag{
  height:10px;
  font-size: 0.5em;
}

.book-status-tag{
  height:10px;
  font-size: 0.5em;
}

.delete-card{
  position: absolute;
  right: 25px;
  top: 12px;
  width: 10px;
  height: 10px;
  opacity: 0.3;
  cursor: pointer;
}

.delete-card:hover {
  opacity: 1;
  cursor: pointer;
}

.delete-card:before, .delete-card:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  width: 1.3px;
  background-color: #333;
}
.delete-card:before {
  transform: rotate(45deg);
}
.delete-card:after {
  transform: rotate(-45deg);
}
